<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="true">
    <bean name="beforeAdvice" class="com.eric.jimiopen.common.my.MyBeforeAdvice" />
    <bean name="aroundAdvice" class="com.eric.jimiopen.common.my.MyAroundAdvice" />
    <bean name="afterAdvice" class="com.eric.jimiopen.common.my.MyAfterAdvice" />
    <bean name="throwsAdvice" class="com.eric.jimiopen.common.my.MyThrowsAdvice" />
    <bean id="servTarget" class="com.eric.jimiopen.common.my.interf.impl.Serv" />
    <bean id="invoker" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="proxyInterfaces" value="com.eric.jimiopen.common.my.interf.IServ" />
        <property name="target" ref="servTarget" />
        <property name="singleton" value="false" />
        <property name="interceptorNames">
        <list>
            <value>beforeAdvice</value>
            <value>aroundAdvice</value>
            <value>afterAdvice</value>
            <value>afterAdvice</value>
            <value>throwsAdvice</value>
        </list>
        </property>
    </bean>
</beans>